@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'modules/modules';
@import 'plugins/vue-slick';

html {
	font: 400 14px $base_font_family;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $black80;
	background-color: #fff;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

.color-inherit {
	&:hover,
	&:focus {
		color: inherit !important;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
	&-slider {
		width: 100%;
		max-width: 100vw;
		overflow: hidden;
	}
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.site-main {
	position: relative;
	z-index: 1;
	&.header-overlap {
		margin-top: 0;
	}
	.category-box {
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			width: 72px;
		}
		span {
			text-align: center;
			font-size: 13px;
			font-weight: 400;
		}
	}
}
.slick-slider {
	display: flex !important;
	align-items: center;
	img {
		pointer-events: none;
	}
}
.slick-track {
	display: flex !important;
	justify-content: center;
	& > * {
		display: flex !important;
		justify-content: center;
		& > * {
			display: flex !important;
			justify-content: center;
		}
	}
}

.slick-slide {
	height: inherit !important;
}
.slick-dots {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(50%, -50%);
	button {
		border: none;
		width: 8px;
		height: 8px;
		background-color: rgba($color: #fff, $alpha: 0.3);
		cursor: pointer;
	}
	.slick-active {
		button {
			background-color: white;
		}
	}
}
.custom-arrow {
	position: absolute;
	justify-content: center;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	background-color: white;
	z-index: 3;
	box-shadow: 0px 2px 16px rgba(0, 14, 51, 0.08);
	&-prev {
		left: -15px;
		&-banner {
			@media #{$medium} {
				left: 235px;
			}
		}
	}
	&-next {
		right: 15px;
		&-banner {
			@media #{$medium} {
				right: 270px;
			}
		}
	}
	transform: translate(50%, -50%);
	color: $primary;
	cursor: pointer;
}
.footer {
	padding: 16px 4px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	@media #{$large} {
		column-gap: 30px;
		flex-direction: row;
		text-align: left;
	}
	.box {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media #{$large} {
			align-items: start;
		}
		a {
			color: $grey;
		}
		img {
			max-width: 250px;
			margin-bottom: 16px;
		}
		h4 {
			font-size: 16px;
			font-weight: 700;
			color: $dark-grey;
			margin-bottom: 16px;
		}
		.list-link {
			display: flex;
			flex-direction: column;
			row-gap: 13px;
		}
		.list-icon {
			margin-left: 9px;
			display: flex;
			column-gap: 21px;
		}
	}
}
.toggle {
	display: flex;
	&-child {
		height: 100%;
		border: 0px;
		box-shadow: none;
		padding: 4px 16px;
		background-color: #fff;
		font-weight: 700;
		border: 1px solid $primary;
		&-left {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&-right {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		&-active {
			background-color: $primary;
			color: #fff;
		}
		&:hover {
			cursor: pointer;
			background-color: $primary;
			color: #fff;
		}
	}
}
.page-enter-active,
.page-leave-active {
	opacity: 1;
	transition: opacity 0.2s;
	will-change: opacity;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

.section {
	&-header {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 24px;
	}
}

#banner {
	.slick-active {
		transform: scale(1.075);
	}
}
