<template>
	<footer class="footer container">
		<div class="box">
			<img class="site-logo" src="~assets/img/site-logo.png" alt="site-logo" />
			<span>&copy; 2021 Copyright to Rocket Mall</span>
		</div>
		<div class="box">
			<h4>Bantuan dan Panduan</h4>
			<ul class="list-nostyle list-link">
				<li><a href="">Hubungi Kami</a></li>
				<li><a href="">Syarat dan Ketentuan</a></li>
				<li><a href="">Kebijakan Privasi</a></li>
				<li><a href="">FAQ</a></li>
			</ul>
		</div>
		<div class="box">
			<h4>Informasi</h4>
			<ul class="list-nostyle list-link">
				<li><a href="">Tentang Kami</a></li>
				<li><a href="">Jadi Mitra</a></li>
			</ul>
		</div>
		<div class="box">
			<h4>Bahasa</h4>
			<Toggle />
		</div>
		<div class="box">
			<h4>Ikuti Kami</h4>
			<ul class="list-nostyle list-icon">
				<li>
					<a href=""> <i class="bzi-facebook bzi-1_5x"></i></a>
				</li>
				<li>
					<a href=""> <i class="bzi-twitter bzi-1_5x"></i></a>
				</li>
				<li>
					<a href=""> <i class="bzi-tiktok bzi-1_5x"></i></a>
				</li>
				<li>
					<a href=""> <i class="bzi-instagram bzi-1_5x"></i></a>
				</li>
				<li>
					<a href=""> <i class="bzi-youtube bzi-1_5x"></i></a>
				</li>
			</ul>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>
