<template>
	<header class="shadow">
		<div class="flex h-end full-width bg-secondary pb-8 pt-8">
			<div
				class="container flex flex-spacer text-grey text-small col-gap-32 h-end"
			>
				<a class="link-grey" href="#">FAQ</a>
				<a class="link-grey" href="#">Voucher</a>
			</div>
		</div>
		<div class="flex container v-center pb-16 pt-16 col-gap-16">
			<img
				class="desktop-only site-logo mr-16"
				src="~/assets/img/site-logo.png"
				alt="site-logo"
			/>
			<div class="flex flex-spacer relative fg-1 col-gap-20">
				<button
					class="desktop-only btn--flat-grey v-center col-gap-12"
					@click="toggleCategory()"
				>
					<i class="bzi-category"></i>
					<span>Category</span>
				</button>
				<div class="search-group flex fg-1">
					<input
						class="form-input fg-1"
						type="text"
						placeholder="Cari produk kamu disini"
						@focus="toggleSearch()"
						@blur="toggleSearch()"
					/>
					<button class="btn--primary btn-search">
						<i class="bzi-search mt-auto mb-auto"></i>
					</button>
					<div
						:class="
							'navbar-popup flex-col bg-white full-width ' +
							(isShowSearch ? 'flex' : 'hidden')
						"
					>
						<h3>Terakhir Dicari</h3>
						<ul class="flex flex-col row-gap-16 list-nostyle pl-8 pr-8">
							<li v-for="i in 5" :key="i" class="flex col-gap-12">
								<i class="bzi-history"></i>
								<span>Baju Koko</span>
								<i class="bzi-close ml-auto"></i>
							</li>
						</ul>
					</div>
				</div>
				<button class="desktop-only btn--flat-grey">
					<i class="bzi-shopping-cart bzi-1_5x m-auto"></i>
				</button>
				<div
					:class="
						'navbar-popup flex-col bg-white full-width ' +
						(isShowCategory ? 'flex' : 'hidden')
					"
				>
					<div class="bzg">
						<div
							class="navbar-content custom-scroll bzg_c auto-wrapper full-height flex flex-col row-gap-12 pl-24 pr-24"
							data-col="m3"
						>
							<button
								v-for="item in categoryData"
								:key="item"
								class="btn--flat-grey text-left text-small mr-auto"
							>
								{{ item }}
							</button>
						</div>
						<div class="navbar-content custom-scroll bzg_c" data-col="m9">
							<div class="flex v-center col-gap-12">
								<img src="~/assets/img/icon/kalung.png" width="50" />
								<h3 class="mb-0 f--semi">Fashion Wanita</h3>
							</div>
							<hr />
							<div
								class="flex custom-scroll auto-wrapper"
								style="max-height: 250px"
							>
								<div
									class="flex flex--wrap flex-col row-gap-20 col-gap-64 text-left p-8"
									style="flex-basis: 30%; height: 525px"
								>
									<div v-for="item in subCategoryData" :key="item.title">
										<h5 class="" style="font-size: 14px">{{ item.title }}</h5>
										<ul class="flex flex-col row-gap-8 list-nostyle">
											<li v-for="i in item.sum" :key="i" class="pb-10">
												<a href="#" class="link-grey" style="font-size: 12px"
													>Ikat Pinggang</a
												>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="desktop-only flex btn-group">
				<button class="btn--ghost-primary mr-8">Masuk</button>
				<button class="btn--primary">Daftar</button>
			</div>
			<div class="mobile-only ml-12 mr-12">
				<i class="bzi-bars bzi-1_5x"></i>
			</div>
		</div>
	</header>
</template>
<script>
import { mapState, mapMutations } from 'vuex'
export default {
	data() {
		return {
			categoryData: [
				'Fashion Wanita',
				'Dompet',
				'Kalung',
				'Anting',
				'Cinderamata',
				'Ikat Kepala',
				'Jam Tangan',
				'Topi'
			],
			subCategoryData: [
				{
					title: 'Aksesoris Wanita',
					sum: 5
				},
				{
					title: 'Bawahan Wanita',
					sum: 3
				},
				{
					title: 'Dress',
					sum: 4
				},
				{
					title: 'Fashion Couple',
					sum: 3
				},
				{
					title: 'Outwear Wanita',
					sum: 7
				},
				{
					title: 'Sepatu Wanita',
					sum: 3
				}
			]
		}
	},
	computed: mapState(['isShowSearch', 'isShowCategory']),
	methods: {
		...mapMutations({
			toggleSearch: 'toggleSearch',
			toggleCategory: 'toggleCategory'
		})
	}
}
</script>
<style lang="scss">
header {
	z-index: 20;
}
.btn-search {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 10px 20px;
}
.form-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 12px 24px;
	background: #f6f8fb;
}
.btn-group {
	padding-left: 44px;
	border-left: 1px solid #e8eaef;
}
.navbar {
	&-popup {
		padding: 24px;
		position: absolute;
		margin-top: 65px;
		border-radius: 8px;
		background: white;
		z-index: 10;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
		max-height: 390px;
		display: none;
		h3 {
			font-size: 20px;
			font-weight: 600;
		}
		@media #{$large} {
			display: flex;
		}
	}

	&-content {
		padding-left: 24px;
		height: 340px;
	}
}
.custom-scroll {
	&::-webkit-scrollbar {
		width: 0.5em;
		height: 0.5em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #b3b7c6;
		border-radius: 3px;

		&:hover {
			background: #b3b7c6;
		}
	}
}
.search {
	&-group {
		position: relative;
	}
}
</style>
