<template>
	<section :id="id" :class="'section pt-44 pb-32 ' + bg">
		<div class="flex flex-col container">
			<div class="flex f-space-between">
				<h2 class="section-header">{{ header }}</h2>
				<a
					href="#"
					:class="
						'link-primary text-semibold flex col-gap-8 text-small ' +
						(!link ? 'hidden' : '')
					"
				>
					<span class="no-wrap">Lihat Semuanya</span>
					<i class="bzi-arrow_forward"></i
				></a>
			</div>
			<slot name="content"></slot>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: ''
		},
		header: {
			type: String,
			default: ''
		},
		bg: {
			type: String,
			default: ''
		},
		link: {
			type: String,
			default: ''
		}
	}
}
</script>
