<template>
	<div class="toggle">
		<button class="toggle-child toggle-child-left toggle-child-active">
			ID
		</button>
		<button class="toggle-child toggle-child-right">EN</button>
	</div>
</template>

<style lang="scss" scoped></style>
