<template>
	<div id="app">
		<Header />
		<div :class="isShowCategory || isShowSearch ? 'layer' : ''"></div>
		<nuxt />
		<Footer />
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	computed: mapState(['isShowSearch', 'isShowCategory'])
}
</script>

<style lang="scss">
.layer {
	position: absolute;
	width: 100%;
	height: calc(100% - 120px);
	background: rgba($color: #000000, $alpha: 0.2);
	z-index: 4;
}
</style>
