<template>
	<div :class="'pl-12 pr-12 pb-4 pt-4 ' + addclass" :data-col="col">
		<div class="product-card flex full-height flex-col shadow-def">
			<img
				v-if="carddata.img"
				:src="require(`~/assets/img/${carddata.img}.png`)"
				alt=""
			/>
			<div v-if="carddata" class="flex flex-col row-gap-4 p-16">
				<p class="title">{{ carddata.title }}</p>
				<span class="price text-semibold">{{
					formatPrice(carddata.price)
				}}</span>
				<span v-if="carddata.oldPrice" class="old-price">{{
					formatPrice(carddata.oldPrice)
				}}</span>
				<p class="place">
					<i class="bzi-shopping-bag"></i> <span>{{ carddata.place }}</span>
				</p>
				<p class="rating">
					<img src="~/assets/img/star-fill.png" alt="" />
					<span
						>{{ carddata.rating.rate }} ({{ carddata.rating.sum }}) |
						{{ carddata.sold }} Terjual</span
					>
				</p>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	props: {
		addclass: {
			type: String,
			default: ''
		},
		col: {
			type: String,
			default: null
		},
		carddata: {
			type: Object,
			default: () => {}
		}
	},
	methods: {
		formatPrice(money) {
			return new Intl.NumberFormat('id-ID', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 0
			}).format(money)
		},
		getImg(path) {
			return require(path)
		}
	}
}
</script>
<style lang="scss" scoped>
.product-card {
	font-weight: 400;
	border-radius: 8px;
	background: white;
	.title {
		font-size: 14px;
	}
	.price {
		font-size: 18px;
		font-weight: bold;
	}
	.old-price {
		text-decoration: line-through;
		color: #b3b7c6;
	}
	.old-price,
	.place,
	.rating {
		font-size: 12px;
	}
	box-shadow: 0px 2px 16px rgba(0, 14, 51, 0.08);
}
</style>
