<template>
	<Section :id="id" :header="header" :bg="bg" :link="link">
		<template #content>
			<VueSlickCarousel v-bind="settings" class="flex flex-stretch col-gap-24">
				<ProductCard
					v-for="item in productdata"
					:key="item.id"
					:carddata="item"
				/>
				<template #prevArrow="">
					<div class="custom-arrow custom-arrow-prev">
						<i class="bzi-angle-left bzi-1_5x"></i>
					</div>
				</template>
				<template #nextArrow="">
					<div class="custom-arrow custom-arrow-next">
						<i class="bzi-angle-right bzi-1_5x"></i>
					</div>
				</template>
			</VueSlickCarousel>
		</template>
	</Section>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: ''
		},
		header: {
			type: String,
			default: ''
		},
		bg: {
			type: String,
			default: ''
		},
		link: {
			type: String,
			default: ''
		},
		productdata: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			settings: {
				arrows: true,
				speed: 500,
				slidesToShow: 4,
				slidesToScroll: 2,
				touchThreshold: 50,
				responsive: [
					{
						breakpoint: 900,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1,
							centerMode: true,
							centerPadding: '10px'
						}
					}
				]
			}
		}
	}
}
</script>
