<template>
	<main class="site-main flex flex-col">
		<section id="banner" class="">
			<div class="bg-secondary pb-32 pt-32">
				<VueSlickCarousel v-bind="settingsBanner">
					<div v-for="item in 3" :key="item" class="flex h-center v-center">
						<img
							class="ml-auto mr-auto p-8"
							src="~/assets/img/banner.png"
							alt=""
						/>
					</div>
					<template #prevArrow="">
						<div class="custom-arrow custom-arrow-prev-banner">
							<i class="bzi-angle-left bzi-1_5x"></i>
						</div>
					</template>
					<template #nextArrow="">
						<div class="custom-arrow custom-arrow-next-banner">
							<i class="bzi-angle-right bzi-1_5x"></i>
						</div>
					</template>
				</VueSlickCarousel>
			</div>
		</section>
		<Section :id="'kategori'" :header="'Kategori Produk'">
			<template #content>
				<VueSlickCarousel v-bind="settingsIcon">
					<div v-for="item in category" :key="item.title" class="category-box">
						<img
							:src="require('~/assets/img/icon/' + item.value + '.png')"
							:alt="item.title"
						/>
						<span>{{ item.title }}</span>
					</div>
					<template #prevArrow="">
						<div class="custom-arrow custom-arrow-prev">
							<i class="bzi-angle-left bzi-1_5x"></i>
						</div>
					</template>
					<template #nextArrow="">
						<div class="custom-arrow custom-arrow-next">
							<i class="bzi-angle-right bzi-1_5x"></i>
						</div>
					</template>
				</VueSlickCarousel>
			</template>
		</Section>
		<ProductSection
			:id="'terbaru'"
			:header="'Serbu Seru Produk Terbaru'"
			:link="'#'"
			:productdata="productData"
		/>
		<ProductSection
			:id="'spesial'"
			:header="'Spesial Buat Kamu'"
			:bg="'bg-light-blue'"
			:link="'#'"
			:productdata="productData"
		/>
		<ProductSection
			:id="'hits'"
			:header="'Produk Hits dari Brand Favorit'"
			:link="'#'"
			:productdata="productData"
		/>
		<Section :id="'mitra'" :header="'Mitra Kami'">
			<template #content>
				<VueSlickCarousel v-bind="settingsMitra">
					<div v-for="i in 12" :key="i" class="flex">
						<img
							class="ml-auto mr-auto"
							src="~/assets/img/rabbani.png"
							alt="mitra-logo"
						/>
					</div>
					<template #prevArrow="">
						<div class="custom-arrow custom-arrow-prev">
							<i class="bzi-angle-left bzi-1_5x"></i>
						</div>
					</template>
					<template #nextArrow="">
						<div class="custom-arrow custom-arrow-next">
							<i class="bzi-angle-right bzi-1_5x"></i>
						</div>
					</template>
				</VueSlickCarousel>
			</template>
		</Section>
		<Section :id="'rekomendasi'" :header="'Rekomendasi'">
			<template #content>
				<div class="bzg bzg--no-gutter row-gap-32 flex-stretch">
					<ProductCard
						v-for="item in productData"
						:key="item.id"
						:addclass="'bzg_c'"
						:col="'s6,m3'"
						:carddata="item"
					/>
				</div>
				<div class="flex h-center mt-44 mb-44">
					<button class="btn--ghost-primary pl-100 pr-100">
						Muat Lebih Banyak
					</button>
				</div>
			</template>
		</Section>
	</main>
</template>

<script>
export default {
	data() {
		return {
			productData: [
				{
					id: 1,
					img: 'card-placeholder2',
					title: 'Danniel Wellingtion - Classic Ring (Rose Gold)',
					price: 550000,
					oldPrice: 650000,
					place: 'Jakarta Timur',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 55
				},
				{
					id: 2,
					img: 'card-placeholder',
					title: 'Rabbani - Kerudung segi empat tetra aqura AN1',
					price: 1149000,
					oldPrice: 1200000,
					place: 'Kota Bandung',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 11
				},
				{
					id: 3,
					img: 'card-placeholder2',
					title: 'Danniel Wellingtion - Classic Ring (Gold)',
					price: 550000,
					oldPrice: 650000,
					place: 'Jakarta Timur',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 22
				},
				{
					id: 4,
					img: 'card-placeholder1',
					title: 'Rabbani - Gamis Dresslim Muslim Layana',
					price: 239800,
					oldPrice: 0,
					place: 'Kota Bandung',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 32
				},
				{
					id: 5,
					img: 'card-placeholder2',
					title: 'Danniel Wellingtion - Classic Ring (Rose Gold)',
					price: 550000,
					oldPrice: 650000,
					place: 'Jakarta Timur',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 64
				},
				{
					id: 6,
					img: 'card-placeholder',
					title: 'Rabbani - Kerudung segi empat tetra aqura AN1',
					price: 1149000,
					oldPrice: 1200000,
					place: 'Kota Bandung',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 32
				},
				{
					id: 7,
					img: 'card-placeholder2',
					title: 'Danniel Wellingtion - Classic Ring (Gold)',
					price: 550000,
					oldPrice: 650000,
					place: 'Jakarta Timur',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 64
				},
				{
					id: 8,
					img: 'card-placeholder1',
					title: 'Rabbani - Gamis Dresslim Muslim Layana',
					price: 239800,
					oldPrice: 0,
					place: 'Kota Bandung',
					rating: {
						rate: 4.8,
						sum: 56
					},
					sold: 32
				}
			],
			settingsBanner: {
				arrows: true,
				dots: true,
				speed: 500,
				slidesToShow: 1,
				slidesToScroll: 1,
				initialSlide: 1,
				centerMode: true,
				centerPadding: '230px',
				responsive: [
					{
						breakpoint: 900,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							arrows: false,
							dots: false,
							centerMode: true,
							centerPadding: '20px',
							initialSlide: 1
						}
					}
				]
			},
			settingsIcon: {
				arrows: true,
				Infinity: true,
				speed: 500,
				slidesToShow: 12,
				slidesToScroll: 2,
				touchThreshold: 50,
				centerPadding: '10px',
				responsive: [
					{
						breakpoint: 900,
						settings: {
							slidesToShow: 4,
							slidesToScroll: 2,
							infinite: true,
							arrows: false,
							centerMode: true,
							centerPadding: '40px',
							initialSlide: 3
						}
					}
				]
			},
			settingsMitra: {
				arrows: true,
				Infinity: false,
				speed: 500,
				slidesToShow: 6,
				slidesToScroll: 2,
				touchThreshold: 50,
				centerPadding: '10px',
				responsive: [
					{
						breakpoint: 900,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1,
							centerMode: true,
							centerPadding: '20px'
						}
					}
				]
			},
			category: [
				{
					title: 'Cincin',
					value: 'cincin'
				},
				{
					title: 'Dompet',
					value: 'dompet'
				},
				{
					title: 'Kalung',
					value: 'kalung'
				},
				{
					title: 'Anting',
					value: 'anting'
				},
				{
					title: 'Cinderamata',
					value: 'cinderamata'
				},
				{
					title: 'Ikat Kepala',
					value: 'ikat-kepala'
				},
				{
					title: 'Syal',
					value: 'syal'
				},
				{
					title: 'Ikat Pinggang',
					value: 'ikat-pinggang'
				},
				{
					title: 'Arloji',
					value: 'arloji'
				},
				{
					title: 'Topi',
					value: 'topi'
				},
				{
					title: 'Bracelet',
					value: 'bracelet'
				},
				{
					title: 'Tas',
					value: 'tas'
				},
				{
					title: 'Others',
					value: 'topi'
				}
			]
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'RocketMall'
			})
		}
	}
}
</script>
